@import url("./styles/header.css");
@import url("./styles/main.css");
@import url("./styles/dashboard.css");
@import url("./styles/popup.css");
@import url("./styles/form.css");
@import url("./styles/footer.css");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}